.home-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search-bar-container button {
  margin-left: 60px;
}

.search-bar-container div {
  flex-basis: 40%;
}

.categories-container input {
  margin-bottom: 15px;
}

.search-bar-container div input {
  border-radius: 20px;
  font-size: 18px;
  height: 30px;
  padding: 0 20px;
  width: 100%;
}

.cart-button-container {
  margin-left: 20px;
}

.categories-container {
  border: 1px solid black;
  min-width: 250px;
  padding: 15px;
}

.products-container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 30px;
  padding: 15px;
}

.product-card {
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 15px;
  width: 180px;
}

.categores-products-container {
  display: flex;
}
