.home-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search-bar-container button {
  margin-left: 60px;
}

.search-bar-container div {
  flex-basis: 40%;
}

.search-bar-container div input {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 18px;
}

.cart-button-container {
  margin-left: 20px;
}

.categories-container {
  padding: 15px;
  border: 1px solid black;
  padding: 15px;
  min-width: 250px;
}

.categories-container input {
  margin-bottom: 15px;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
  padding: 15px;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 180px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
  margin-bottom: 10px;
  margin-right: 10px;
}

.categores-products-container {
  display: flex;
}